* {
  outline: none;
  color: #023436;
}

.App {
  text-align: center;
  background-color: #8BE5DF;
}

.welcome-search {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.welcome-search * {
  height: 40px;
  border: 2px solid #000;
}

.location-search {
  align-items: center;
  display: flex;
  justify-content: center;
}

.location-search * {
  height: 40px;
  border: 2px solid #000;
}

.location-search-input {
  font-size: 30px;

  width: 50%;
  -webkit-appearance:none;
}

.location-search-button:hover {
  background-color: #ccc;
}

.location-search-button:active {
  background-color: #808080;
}

.seven-hour-forecast-label {
  margin-top: 100px;
}

.ten-day-forecast-label {
  margin-top: 50px;
}


