* {
  color: #023436;
  outline: none;
}

html {
  background-color: #8BE5DF;
}

.welcome-page {
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.welcome-title {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  margin: 0;
  padding-top: 180px;
  padding-bottom: 50px;
}

.welcome-search {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.App {
  text-align: center;
}

.location-search {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.forecast-label {
  margin-top: 50px;
}

