.App {
  text-align: center;
}

.location-search {

}

.city-name-title {
  font-size: 1.5em;
}

.current-date {
  font-size: large;
}

.temperatures {
  display: block;
}

.current-temp {
  display: inline-block;
}

.high-low-temp {
  display: inline-block;
}

.high-temp {
  margin: 0;
}

.low-temp {
  margin: 0;
}

.forecast-summary-dropdown {
  position: relative;
  display: inline-block;
}

.forecast-summary-dropdown:hover
.forecast-summary-content {
  display: block;
}

.forecast-summary-content {
  display: none;
  background-color: #f8f8f8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
}

.seven-hour-forecast {
  display: flex;
}

.ten-day-forecast {
  display: flex;
}

