.card-container {
  background-color: #7A86AD;
  border: 1px solid #023436;
  box-sizing: border-box;
  display: inline-block;
  height: auto;
}

.card-day {
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.card-time {
  margin-top: 0;
}

.card-icon {
  height: 50px;
  width: auto;
}