form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 70%;
}

form * {
  height: 40px;
  border: 2px solid #000;
}

.search-input {
  font-size: 30px;

  width: 90%;
  -webkit-appearance:none;
}

.search-button {
  /*width: 20%;*/
}

.search-button:hover {
  background-color: #ccc;
}

.search-button:active {
  background-color: #808080;
}

