.city-name-title {
  margin-top: 30px;
  margin-bottom: 0;
}

.city-name-title,
.current-condition {
  font-size: 28px;
}


.icon-temp-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.condition-icon {
  height: 100px;
  margin-right: 20px;
  width: auto;
}

.current-temp {
  display: inline-block;
  font-size: 60px;
  margin: 0;
  margin-right: 20px;
}

.high-low-temp {
  display: inline-block;
}

.high-temp {
  margin: 0;
}

.low-temp {
  margin: 0;
}

.current-condition {
  margin-top: 0;
  margin-bottom: 50px;
}

.current-summary {
  font-size: 22px;
}

.current-date {
  /*font-size: large;*/
}